parameters:
    vs_application.in_maintenance: false
services:
    vs_app.twig.alerts:
        class: Vankosoft\ApplicationBundle\Twig\Alerts
    
    vs_app.subscriber.maintenance:
        class: Vankosoft\ApplicationBundle\EventSubscriber\MaintenanceSubscriber
        arguments: ['@twig']
        tags: [kernel.event_subscriber]
