<div class="card">
    <div class="card-header border-0 align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Basic Bar Chart</h4>
    </div>
    
    <div class="card-body p-0 pb-2">
        <div class="w-100">
            <div id="basic_bar_chart" class="apex-charts" dir="ltr"></div>
        </div>
    </div><!-- end card body -->
</div><!-- end card -->