<p class="lead">
    Widgets are inspired form <a href="https://github.com/cesurapp/pd-widget">https://github.com/cesurapp/pd-widget</a>
</p>

# Render all 'admin' widget groups
{{ vs_widget_render( 'admin-profile-page' ) }}

# Render selected widgets in 'admin' group
{{ vs_widget_render( 'admin-profile-page', ['user-info'] ) }}
