<h1>{{ 'vs_application.template.contact_page.contact_email_header' | trans( {},'VSApplicationBundle' ) }}</h1>

<p>
    From: {{ fromName }}<br><br>
    Subject: {{ emailSubject }}<br><br>
    Message: {{ emailBody }}<br><br>
</p>
