<div class="card">
    <div class="card-body text-center">
        <h6 class="card-title mb-3 flex-grow-1 text-start">Time Tracking</h6>
        <div class="mb-2">
            <lord-icon src="https://cdn.lordicon.com/kbtmbyzy.json" trigger="loop" colors="primary:#405189,secondary:#02a8b5" style="width:90px;height:90px"></lord-icon>
        </div>
        <h3 class="mb-1">9 hrs 13 min</h3>
        <h5 class="fs-14 mb-4">Profile Page Structure</h5>
        <div class="hstack gap-2 justify-content-center">
            <button class="btn btn-danger btn-sm"><i class="ri-stop-circle-line align-bottom me-1"></i> Stop</button>
            <button class="btn btn-success btn-sm"><i class="ri-play-circle-line align-bottom me-1"></i> Start</button>
        </div>
    </div>
</div>
<!--end card-->