<div class="tab-pane" id="profile-1" role="tabpanel">
    <h6 class="card-title mb-4 pb-2">Time Entries</h6>
    <div class="table-responsive table-card">
        <table class="table align-middle mb-0">
            <thead class="table-light text-muted">
                <tr>
                    <th scope="col">Member</th>
                    <th scope="col">Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Timer Idle</th>
                    <th scope="col">Tasks Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/avatar-8.jpg" alt="" class="rounded-circle avatar-xxs">
                            <div class="flex-grow-1 ms-2">
                                <a href="pages-profile.html" class="fw-medium">Thomas Taylor</a>
                            </div>
                        </div>
                    </th>
                    <td>02 Jan, 2022</td>
                    <td>3 hrs 12 min</td>
                    <td>05 min</td>
                    <td>Apps Pages</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/avatar-10.jpg" alt="" class="rounded-circle avatar-xxs">
                            <div class="flex-grow-1 ms-2">
                                <a href="pages-profile.html" class="fw-medium">Tonya Noble</a>
                            </div>
                        </div>
                    </td>
                    <td>28 Dec, 2021</td>
                    <td>1 hrs 35 min</td>
                    <td>-</td>
                    <td>Profile Page Design</td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/avatar-10.jpg" alt="" class="rounded-circle avatar-xxs">
                            <div class="flex-grow-1 ms-2">
                                <a href="pages-profile.html" class="fw-medium">Tonya Noble</a>
                            </div>
                        </div>
                    </th>
                    <td>27 Dec, 2021</td>
                    <td>4 hrs 26 min</td>
                    <td>03 min</td>
                    <td>Ecommerce Dashboard</td>
                </tr>
            </tbody>
        </table>
        <!--end table-->
    </div>
</div>
<!--edn tab-pane-->