<div class="modal fade" id="createSubtaskModal" tabindex="-1" aria-labelledby="createSubtaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header p-3 ps-4 bg-success-subtle">
                <h5 class="modal-title" id="createSubtaskModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div  id="modalSubtask">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal">
                    {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
                </button>
                <button type="button" class="btn btn-success w-xs" id="btnCreateSubtask">
                    {{ 'vs_application.template.project_issues.create_sub_task' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
        <!-- end modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- end modal -->