<div>
    {% if application.id %}{% set applicationId = application.id %}{% else %}{% set applicationId = 0 %}{% endif %}
    {{ form_start(form, { 'action': path('app_settings_sites_edit', {'id': applicationId}), 'attr': {'id': 'formApplicationEdit', 'class': 'form-horizontal '} }) }}
        <div class="formFields">
            <div class="form-group">
                {{ form_label(form.title, null, {
                    'label_attr': {'class': 'col-sm-8 control-label'}
                    }) 
                }}
        
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>