{% macro jquery_ui( id ) %}
    <div id="{{ id }}" style="display: none; margin-top: 5px;" class="progressBar">
        <div class="progressInfo" style="position: absolute; padding-left: 10px; padding-top: 3px;">
            <span class="caption"></span>
        </div>
    </div>
{% endmacro %}

{% macro easy_ui( id ) %}
    <div id="{{ id }}" class="progressBar"></div>
{% endmacro %}
